
.dropdown-menu.bullet:before {
  width: 0;
  height: 0;
  content: '';
  display: inline-block;
  position: absolute;
  border-color: transparent;
  border-style: solid;
  -webkit-transform: rotate(360deg);
  border-width: 0 7px 7px;
  border-bottom-color: #cccccc;
  border-bottom-color: rgba(0, 0, 0, 0.15);
  top: -7px;
  left: 9px;
}
.dropdown-menu.bullet:after {
  width: 0;
  height: 0;
  content: '';
  display: inline-block;
  position: absolute;
  border-color: transparent;
  border-style: solid;
  -webkit-transform: rotate(360deg);
  border-width: 0 6px 6px;
  border-bottom-color: #ffffff;
  top: -6px;
  left: 10px;
}
.dropdown-menu.bullet.pull-right:before {
  left: auto;
  right: 9px;
}
.dropdown-menu.bullet.pull-right:after {
  left: auto;
  right: 10px;
}
.dropdown-menu.bullet.pull-top {
  margin-top: 0;
  margin-bottom: 8px;
}
.dropdown-menu.bullet.pull-top:before {
  top: auto;
  bottom: -7px;
  border-bottom-width: 0;
  border-top-width: 7px;
  border-top-color: #cccccc;
  border-top-color: rgba(0, 0, 0, 0.15);
}
.dropdown-menu.bullet.pull-top:after {
  top: auto;
  bottom: -6px;
  border-bottom: none;
  border-top-width: 6px;
  border-top-color: #ffffff;
}

